<html lang="en">

    <head>
        <!-- some html -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- get the title of the page dynamically -->
        <title>Data Centric Project | <%= title %>
        </title>
    </head>

    <body>
        <div>
            <a href="/"><h1>Home</h1></a>
        </div>

        <label><%= error %></label>

        <form action="/store/edit" method="post">
            <input name="sid" hidden value="<%= store.sid %>">

            <label for="sid">SID:</label><br>
            <input disabled nametype="text" id="sid" value="<%= store.sid %>"><br>
            <label for="location">Location:</label><br>
            <input name="location" type="text" id="loc" value="<%= store.location %>"><br>
            <label for="manager">Manager:</label><br>
            <input name="mgrid" type="text" id="mangr" value="<%= store.mgrid %>"><br><br>
            <input type="submit" value="Submit">
            <a href="/stores">Cancel</a>
        </form>
    </body>
</html>
