<html lang="en">

    <head>
        <!-- some html -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- get the title of the page dynamically -->
        <title>Data Centric Project | <%= title %></title>
    </head>

    <body>
        <div>
            <a href="/"><h1>Home</h1></a>
        </div>
        <!-- table to display all the data -->
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>salary</th>
            </tr>
            <% managers.forEach((item) => { %>
            <tr>
                <td><%= item._id %></td>
                <td><%= item.name %></td>
                <td><%= item.salary %></td>
            </tr>
            <% }) %>
        </table>
        <a href="./manager/add">ADD NEW MANAGER</a>

        <p><%= error %></p>
    </body>
</html>