<html lang="en">

    <head>
        <!-- some html -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- get the title of the page dynamically -->
        <title>Data Centric Project | <%= title %></title>
    </head>

    <body>
        <div>
            <a href="/"><h1>Home</h1></a>
        </div>
        <!-- table to display all the data -->
        <table>
            <tr>
                <th>PID</th>
                <th>SID</th>
                <th>Price</th>
                <th>Product Description</th>
                <th>Supplier</th>
                <th>Location</th>
                <th>MGRID</th>
                <th>Action</th>

            </tr>
            <% products.forEach((item)=> { %>
                <tr>
                    <td>
                        <%= item.pid %>
                    </td>
                    <td>
                        <%= item.sid %>
                    </td>
                    <td>
                        <%= item.Price %>
                    </td>
                    <td>
                        <%= item.productdesc %>
                    </td>
                    <td>
                        <%= item.supplier %>
                    </td>
                    <td>
                        <%= item.location %>
                    </td>
                    <td>
                        <%= item.mgrid %>
                    </td>
                    <td>
                        <a href="./product/delete/<%= item.pid %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </table>
    </body>
</html>